@using TeamplateHotel.Handler
@using ProjectLibrary.Database
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@*@Html.Partial("Slider/Slider")*@
<div class="container">

    <div class="col-md-12">
        <div class="des-article">
            <h1 class="tieudecategory uppercase" style="font-size: 25px;">Messages</h1>
            <h5>@Html.Raw(ViewBag.Messages)</h5>
            <div class="clear"></div>
        </div>
    </div>

</div>



